body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.wrapperPlayField {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOver {
  display: none;
}

.playField {
  min-width: 90vw;
  min-height: 50vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 1)
  );
  border: 10px solid black;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 5rem;
}

.playFieldHeader {
  text-align: center;
  width: 100%;
}

.textInformation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.makeChoice {
}

.scoreText {
  font-size: 2.5rem;
  margin: 0 30px;
}

.arrows {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.arrow {
}

.choiceMessage {
  display: none;
  font-size: 50px;
  position: relative;
  justify-content: center;
  gap: 156px;
  top: -136px;
  left: -30px;
}

.computerItem,
.playerItem {
  font-size: 30px;
  margin-top: 10px;
}

.arrows img {
  z-index: 1;
  width: auto;
  height: 25vh;
  position: relative;
  opacity: 1;
  animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.scorePlayer,
.scoreComputer {
  position: relative;
  font-size: 5rem;
  top: 102px;
  margin: 0 70px;
}

.playFieldBody {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  gap: 2rem;
  width: 100%;
  max-height: auto;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 10px;
}

.btn img {
  width: 20vw;
  height: 20vh;
}
